.navigation-container {
  background-color: #181311;
  color: white;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 2rem;
  box-shadow: 0 0 20px black;
  z-index: 10;
  font-weight: 900;
}

.navigation-logo {
  display: flex;
  align-items: center;
  font-family: var(--font-2);
  font-size: 1.25em;
}

.navigation-menu-div {
  display: none;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.navigation-ul {
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
}

.navigation-ul li {
  height: 100%;
  position: relative;
}

.active-link {
  text-decoration: none;
  color: orange;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.none {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.active-link:hover,
.none:hover {
  transition: 0.25s;
  color: orange;
}

.drop-down {
  display: none;
}

.drop-down-icon {
  margin-top: 0.25rem;
  transition: 0.5s;
}

.active-link:hover .drop-down,
.none:hover .drop-down {
  display: flex;
  flex-direction: column;
  background-color: #181311;
  position: absolute;
  list-style: none;
  left: 0;
  top: 3rem;
  width: 100%;
}

.active-link:hover .drop-down-icon,
.none:hover .drop-down-icon {
  transform: rotate(180deg);
}

.drop-down li {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-down 0.5s ease-in-out;
}

.drop-down li:hover {
  background-color: black;
  color: orange;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.hamburger-menu > div {
  background-color: white;
  height: 2px;
  width: 15px;
  border-radius: 5rem;
  transition: 0.5s;
}

.hamburger-menu.on div:nth-child(1) {
  rotate: -45deg;
}

.hamburger-menu.on div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.on div:nth-child(3) {
  rotate: 45deg;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 1.5rem;
  width: 3rem;
  transform: scale(1.5);
  background-color: #545b5472;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.label .ball {
  display: block;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
  animation: moon 2.5s infinite linear;
}

.fa-sun {
  color: #f39c12;
  animation: sun 15s infinite linear;
}

@keyframes moon {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes sun {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  .navigation-container {
    padding: 0 5rem;
  }

  .hamburger-menu {
    display: none;
  }

  .navigation-menu-div {
    display: flex;
  }
}
