* {
  padding: 0;
}

.section1-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0), transparent) , url(../../assets/images/backgrounds/marijuana1.jpg);
  background-size: cover;
  height: calc(100vh - 3rem);
}

.section2-container {
  background-color: red;
  height: 100vh;
}

.section3-container {
  background-color: mediumseagreen;
  height: 100vh;
}

.section4-container {
  background-color: aquamarine;
  height: 100vh;
}
