* {
  padding: 0;
}

.section1-container {
  background-image: linear-gradient(to bottom, black, transparent), url(../../assets/images/backgrounds/marijuana1.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2-container {
  background-color: red;
  height: 100vh;
}

.section3-container {
  background-color: mediumseagreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.section3-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section3-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px black;
}

.section3-option div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.section3-option ul {
  list-style: none;
}

.section4-container {
  background-color: aquamarine;
  height: 100vh;
}
